body {
	/*background: url('../bckg.jpg') no-repeat center center fixed;*/
	background: url('../retard_danko_dblue.jpg') no-repeat center center fixed;
	background-size: cover;
}

.well {
	opacity: 0.85;
	background-color: #0B3861;
}